/*|==========================|NAVBAR|==========================|*/
.static_navbar{
    border-radius: 30px;
    height:70px;
    width: 90%;
    backdrop-filter: blur(5px);
    display:flex;
    justify-content:space-between;
    z-index: 3;
    border-bottom: 3px solid var(--highlight_color_5);
}
.navbar_slide_in_class{
    animation-name: navbar_slide_in_animation;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes navbar_slide_in_animation{
    0%{
        background-color: rgba(0, 0, 0, 0.74);
        margin:0;
        padding:0;
        transition: 1s;
        transform: translate(0,-100%);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.74);
        margin:0;
        padding:0;
        transition: 1s;
        transform: translate(0,0);
    }
}
.static_navbar .title{
    height: 100%;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:100px;
}
.static_navbar ul{
    text-align: center;
    margin:0;
    margin-right: 100px;
    max-width: auto;
    height: 100%;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.static_navbar .deco{
    transform: translate(0px,-10px);
    margin: 0 auto;
    width:0%;
    height: 2px;
    background-color: var(--highlight_color_1);
    transition: 0.5s;
}

.static_navbar a:hover + .deco{
    width:60%;
}
.initials{
    color:var(--font_color_3);
}

.static_navbar li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100%;
}

.static_navbar a{
    text-align: center;
    width:100%;
    text-align: center;
    margin: 0 30px;
    font-family: 'Montserrat', sans-serif;
    color: var(--font_color_1);
    text-decoration: none;
    font-size: 30px;
    padding: 15px 0;
}

.nav_title{
    color: var(--font_color_2);
    font-family: 'Montserrat Alternates', sans-serif;
    margin:0;
    font-size: 30px;
    text-align: center;
    cursor:default;
}

.navbar_hr{
    background-color:var(--highlight_color_4);
    width:100%;
    height:5px;
    margin:0;
    margin-top:10px;
}

@media (max-width:967px) {
    .static_navbar{
        height:100px;
        align-items: center;
        display:flex;
        justify-content: flex-end;
        top:0;
        border-radius: 0;
        width: 100%;

    }
    .static_navbar .title{
        display: none;
    }
    .static_navbar ul{
        display:none;
    }
    .navbar_hr{
        display:none;
    }
}