.projects{
    background-color: rgb(16, 16, 16);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.projects_title{
    color:white;
    font-family: 'Montserrat',sans-serif;
    font-size: 36px;
}
.projects_container{
    border-radius: 30px;
    background-color:#333333;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 00px 00px 7px 10px #000000;
    
}
.project_box{
    margin:20px;
    width:300px;
    height:400px;
    background-color:grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    transition: linear 0.1s;
    z-index: 1;
    
}
.project_box:hover{
    

}
@keyframes move_box {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
}

.project_box h1{
    color:#000000;
    font-family: 'Montserrat',sans-serif;
    font-size: 36px;
}