@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background_color_1: #000000;
  --background_color_2: #000000;
  --container_background_1: rgba(255, 255, 255, 0.06);
  --font_color_1: #ffffff;
  --font_color_2: #ffffff;
  --font_color_3: rgb(162, 162, 162);
  --highlight_color_1: rgb(68, 183, 255);
  --highlight_color_2: rgb(227, 227, 227);
  --highlight_color_3: rgb(70, 70, 70);
  --highlight_color_4: rgb(255, 255, 255);
  --highlight_color_5: rgb(0, 69, 95);
  --button_color_1:#e74c3c;
  --deco_ball_color_1: rgba(0, 81, 234, 0.05);
  --font_size_description_sans: 21px;
  --font_size_description_montserrat: 19px;
    
    
}

html {
}
 /* width */
::-webkit-scrollbar {
  width: 10px;
  z-index: 3;
}

/* Track */
::-webkit-scrollbar-track {
  z-index: 3;
  box-shadow: inset 0 0 5px #000000;
  background-color: rgb(34, 34, 34);
}

/* Handle */
::-webkit-scrollbar-thumb {
  z-index: 3;
  background: #ebebeb;
  border-radius: 100px;
} 


body{
    margin:0;

}
.full_container{
    background: linear-gradient(62deg, #7439a7 0%, #002089 100%); 
    background: linear-gradient(45deg, var(--background_color_1) 0%, var(--background_color_2) 60%); 
    /*scroll-snap-type: y mandatory;*/
    overflow-y: scroll;
    height:100vh;
    /*scroll-behavior:smooth;*/
}
.page{
    /*scroll-snap-align: start;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 100vh;
    overflow: hidden;
}
.deco_light_ball {
    width: 500px;
    height: 500px;
    background-color: var(--deco_ball_color_1);
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    z-index: 1;
    transform: translate(-50%, -50%);
    filter: blur(50px);
}

.ball_1_position {
    top: 60%;
    left: 20%;
}

.ball_2_position {
    top: 20%;
    left: 10%;
    width: 70px;
    height: 70px;
}

.ball_3_position {
    width: 230px;
    height: 400px;
    top: 60%;
    left: 90%;
}

.ball_4_position {
    width: 150px;
    height: 150px;
    top: 60%;
    left: 60%;
}

.ball_5_position {
    
    width: 200px;
    height: 200px;
    top: 54%;
    left: 55%;
}
.ball_6_position {
    width: 300px;
    height: 300px;
    top: 54%;
    left: 35%;
}
.highlighted{
    color: var(--highlight_color_1);
}
@media(max-width:700px){
    .ball_5_position {
        display: none;
    }
    .ball_6_position {
        display: none;
    }
}