@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}
 /* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000000;
  background-color: rgb(34, 34, 34);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00035a;
  border-radius: 100px;
} 


body{
    margin:0;

}
.full_container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height:100vh;
    scroll-behavior:smooth;
}
.page{
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 100vh;
    overflow: hidden;
}
/*|==========================|HERO|==========================|*/
.static_navbar{
    height:70px;
    width: 100%;
    backdrop-filter: blur(15px);
    display:flex;
    justify-content:space-between;
    margin-top:30px;
}
.static_navbar .title{
    height: 100%;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:100px;
}
.static_navbar ul{
    text-align: center;
    margin:0;
    margin-right: 100px;
    max-width: auto;
    height: 100%;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.static_navbar .deco{
    margin: 0 auto;
    width:0%;
    height: 2px;
    background-color: #ffffff;
    color:white;
    transition: 0.5s;
}

.static_navbar a:hover + .deco{
    width:60%;
}


.mobile_menu{
    position:fixed;
    z-index: 6;
    width:100%;
    height:100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.29);
    transition: 0.5s;
    transform: translate(100%,0);
    

}
.back_button{
    width:30%;
}
.mobile_menu_toolbar{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-left: 10px solid #676767;
    z-index: 2;
    overflow: auto;
    margin-left:auto;
    width:70%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:flex-start;
    background-color: rgb(23, 23, 23);
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.slide_in_class{
    animation-name:  slide_in_animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes slide_in_animation{
    0%{
        background-color: rgba(0, 0, 0, 0);
    }
    20%{
        transform: translate(0,0);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.47);
        transform: translate(0,0);
        backdrop-filter: blur(12px);
    }
}
.logo{
    width:140px;
    margin: 0 auto;
    margin-top:70px;
}

.mobile_menu ul{
    padding:0;
    display: block;
    list-style:none;
    text-align: center;
    
}
.mobile_menu a{
    font-size:40px;
    color: white;
    text-decoration:none;
    font-family: 'Montserrat Alternates',sans-serif;
}
.mobile_menu li{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: rgba(51, 51, 51, 0.36);
    margin: 40px 0;
    margin-left:10px;
    box-shadow: 10px 10px 10px black;
}
.mobile_menu li:hover{
    box-shadow: 10px 10px 10px #080808;
    transform: scale(0.98);
}
.burger_menu {
  border-radius: 10px;
  z-index: 2;
  width: 70px;
  position: fixed;
  top:50px;
  right:20px;
  display: none;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}
@media (max-width:967px) {
    .static_navbar{
        display:none;
    }
    .burger_menu{
       display:flex;
    }
    .hero{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}
.visible{
    display:flex;
}
.invisible{
    display:none;
}

.burger-menu:active + .mobile_menu{
    display:flex;
}
.bar {
  box-shadow: 0px 0px 0px 3px #000000;
  border-radius: 50px;
  margin: 0 auto;
  width: 90%;
  height: 6px;
  background-color: #ffffff;
  margin: 7px 0;
}

.title img{
    width:60px;
    margin-right:10px;
}
.nav_title{
    color: #ffffff;
    font-family: 'Montserrat Alternates', sans-serif;
    margin:0;
    font-size: 30px;
    text-align: center;
    cursor:default;
}
.initials{
    color:#75ffff;
}
.static_navbar a{
    margin: 0 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.hero{
    margin:0;
    padding:0;
    width:100%;
    min-height:100vh;
    background: linear-gradient(62deg, #7439a7 0%, #002089 100%); 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap:20vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    }


.hero .img_container{
    text-align: center;
}
.hero img{
    width:70px;
}
.name_container{
    background-color: rgba(0, 0, 0, 0);
}

.hero .name{
    margin:0;
    text-align: center;
    font-size: 60px;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    
    animation: start_blur_animation linear 0.3s 1;
    
    color: #dbdbdb;
    filter: blur(0px);
    transition: transform 0.1s linear;
}
.hero .name:hover{
    transform: scale(1.1);
    cursor:default;
    user-select: none;
}
@media( max-width:657px){
    .hero .name:hover{
        transform: none;
    }
}

@keyframes continue_blur_animation{
    0% {
        box-shadow: inset 0 0 20px 2px rgba(52, 0, 134, 0);
    }
}
@keyframes start_blur_animation{
    0%{
        filter: blur(10px);
    }
    100%{
        filter: blur(0px)
    }
}
.hero .description{
    color: #dbdbdb;
    font-family: Montserrat;
    transition: transform 0.1s linear;
    cursor:default;
    user-select: none;
    display: flex;
    justify-content: center;
    margin-top:20px;
    
}
.hero .square{
    text-align: center;
    border: 2px solid white;
    margin: 0 20px;
    padding:0 30px;
    border-radius: 10px;
    transition: transform 0.1s linear;
  display: flex;
  align-items: center; /* Vertical alignment */
}
.square p{
    font-size: 20px;
}
.hero .square:hover{
    transform: scale(1.2);
}

@media(max-width:604px){
    .hero .description{
        display: block;
    }
    .hero .square{
        margin-top:30px;
        margin-left:auto;
        margin-right:auto;
        width:60%;
        display: block;
    }
}

.moving_ball{
    width:100%;
    height:100vh;
    border-radius: 50%;
    transform-origin:left;
    filter: blur(20px);
    animation: moving_ball_animator 10s linear infinite;
    display: none;
}
.arrow_down_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    border: 4px solid #d6d6d6;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-top:25px;
    transition: transform 0.1s linear;
    transform: rotate(90deg);
}
.arrow_down_circle:hover{
    transform: scale(1.2) rotate(90deg);
}
.arrow_down_circle:active{
    transform: scale(1) rotate(90deg);
}
.arrow_down_circle a{
    font-size: 70px;
    font-family:'monserrat';
    color: #dbdbdb;
    cursor:default;
    user-select: none;
    text-decoration: none;
}

.profile .blur{
    min-height:100vh;
    overflow: auto;
    background-color:rgba(0, 0, 0, 0.44);
    backdrop-filter: blur(0px);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile .profile_container{
    background-color: rgb(0, 0, 0);
    min-width:50%;
    max-width:300px;
} 
.profile_container .profile_photo{
    width:150px;
}
.profile_container h1{
    color: #ffffff;
}

.projects{
    background-color: black;
}